<h1>New Book</h1>
<%= form_with model: @book, local:true do |f| %>

 <%= f.label :title, "Title" %>
 <%= f.text_field :title, class: 'form-control book_title' %>

 <%= f.label :body, "Opinion" %>
 <%= f.text_area :body, class: 'form-control book_title' %>

 <%= f.submit 'Create Book' %>

<% end %>

<h1>Books</h1>
<table>
  <% @user.books.each do |book| %>
   <tbody>
     <tr>
       <td></td>
       <td><%= link_to book.title, book_path(book) %></td>
       <td><%= book.body %></td>
     </tr>
   </tbody>
  <% end %>
</table>
