<h1>New Book</h1>
<%= form_with model: @book, local:true do |f| %>

 <%= f.label :title, "Title" %>
 <%= f.text_field :title, class: 'form-control book_title' %>

 <%= f.label :body, "Opinion" %>
 <%= f.text_area :body, class: 'form-control book_title' %>

 <%= f.submit 'Create Book' %>

<% end %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>
