<h1>New Book</h1>
<%= form_with model: @book, local:true do |f| %>

 <%= f.label :title, "Title" %>
 <%= f.text_field :title, class: 'form-control book_title' %>

 <%= f.label :body, "Opinion" %>
 <%= f.text_area :body, class: 'form-control book_title' %>

 <%= f.submit 'Create Book' %>

<% end %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td><%= @book_id.title %></td>
      <td><%= @book_id.body %></td>
      <% if @book_id.user_id == current_user.id %>
        <td><%= link_to "Edit", edit_book_path(@book_id) %></td>
        <td> <%= link_to "Destory", book_path(@book_id), method: :delete, data: {confirm: '本当に消しますか？'}  %></td>
      <% end %>
    </tr>
  </tbody>
</table>
